/*
  The Name:
  Author: 
  Support: 
  Description: 
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/
/* ============================ deafult section start ============================== */
/* google fonts */


/* font  family  */
.tk-aktiv-grotesk { font-family: "aktiv-grotesk",sans-serif; }
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Black.woff2') format('woff2'),
        url('../fonts/Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-BoldItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
        url('../fonts/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-BlackItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Extra';
    src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'),
        url('../fonts/Metropolis-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Extra';
    src: url('../fonts/Metropolis-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.woff2') format('woff2'),
        url('../fonts/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Semi';
    src: url('../fonts/Metropolis-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Extra';
    src: url('../fonts/Metropolis-ExtraLight.woff2') format('woff2'),
        url('../fonts/Metropolis-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-MediumItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-RegularItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Regular.woff2') format('woff2'),
        url('../fonts/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Extra';
    src: url('../fonts/Metropolis-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Light.woff2') format('woff2'),
        url('../fonts/Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-LightItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Semi';
    src: url('../fonts/Metropolis-SemiBold.woff2') format('woff2'),
        url('../fonts/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-ThinItalic.woff2') format('woff2'),
        url('../fonts/Metropolis-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Thin.woff2') format('woff2'),
        url('../fonts/Metropolis-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


body {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Metropolis', sans-serif;
	color: #231F20;
}

/* lenis */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

/* lenis */

/* scroll bar */
.os-scrollbar-handle {
	background: #94C949;
}

body>.os-scrollbar {
	z-index: 999;
}

/* scroll bar */

img {
	max-width: 100%;
	height: auto;
}

/* animation */
.animation-line {
	overflow: hidden;
}

/* animation */

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

.bg-fix {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* container */
.container {
	max-width: 1242px;
}

/* z-index */
.z-4 {
	z-index: 4 !important;
}

.z-5 {
	z-index: 5 !important;
}

.z-6 {
	z-index: 6 !important;
}

/* z-index */

/* input */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="url"],
textarea {
	width: 100%;
	padding: 12px;
	background: #fff;
	border: 1px solid #000;
	color: rgba(80, 80, 80, 0.50);
    font-family: 'Metropolis' , sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	opacity: 1;
}

textarea {
	height: 116px;
}

input:focus,
textarea:focus {
	outline: none;
	box-shadow: none;
}

::placeholder {
	color: rgba(80, 80, 80, 0.50);
    font-family: 'Metropolis' , sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

/* input */


.animation-line p:last-child,
.mb-p p:last-child {
	margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #94C949;
	font-weight: 700;
	line-height: 1.15;
    font-family: 'Metropolis' , sans-serif;
    text-transform: uppercase;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 58px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 20px;
}


/* all font color */
.font-white{
    color: #fff;
}
/* all font color */
/* all button */
.btn-1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.28px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    transition: all 0.3s linear;
}
.btn-1.black-version{
    color: #1E1E1E;
}
.btn-1:hover{
    color: #fff;
}
.btn-1.black-version:hover{
    color: #1E1E1E;
}
.btn-2 {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    background: #94C949;
    padding: 8px 20px;
    transition: all 0.3s linear;
}
.btn-2:hover{
    color: #000;
}
/* all button */


/* ============== header section start ================== */
.header-area{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 0;
}

.search-area input[type="text"] {
    border-radius: 100px;
    border: 1px solid #C4C4C4;
    background: #000;
    padding: 2px 12px;
    color:#C4C4C4 ;
    padding-left: 34px;
}
.search-input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
    text-transform: capitalize;
}
.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.header-top-element-info {
    margin-left: 34px;
}

.main-menu-wrapper ul ,
.header-top-element-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top-element-info > ul{
    display: flex;
    align-items: center;
}
.header-top-element-info .nice-select {
    height: auto;
    border: 0;
    background: transparent;
}
.header-top-element-info .nice-select:after {
    height: 8.5px;
    margin-top: -8px;
    right: 14px;
    width: 8.5px;
    border-bottom: 2px solid #9B9BA4;
    border-right: 2px solid #9B9BA4;
}
.header-top-element-info .nice-select ,
.header-top-element-info ul li a{
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    transition: all 0.3s linear;
}

.header-top-element-info ul li .btn-2{
    color: #fff;
}
.header-top-element-info > ul > li {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
.header-top-element-info > ul > li:first-child {
    padding-right: 10px;
}
.header-top-element-info > ul > li::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #000;
}
.header-top-element-info > ul > li:last-child::before{
    display: none;
}
.header-top-element-info > ul > li:last-child{
    padding-right: 0;
}
.header-top-element::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    height: 100%;
    width: 1000%;
    background: linear-gradient(270deg, #202020 0%, #4E4E53 100%);
    z-index: -1;
    transform: skewX(60deg);
}
.header-top-element > div {
    flex: 1 0 0%;
}
.search-area {
    max-width: 273px;
}
.header-right {
    max-width: 944px;
}
.header-top-element{
    max-width: 865px;
    margin-right: 0;
    margin-left: auto;
}
.main-menu-wrapper ul li {
    display: inline-block;

    position: relative;
    z-index: 1;
}
.main-menu-wrapper > ul > li{
    margin-right: 45px;
}
.main-menu-wrapper > ul > li::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 7px;
    background: #313135;
    opacity: 0.51;
    z-index: 1;
    transform: translateX(-50%);
    transition: all 0.3s linear;
}
.main-menu-wrapper ul li:hover::before{
    width: 100%;
}
.main-menu-wrapper ul li:last-child{
    margin-right: 0px;

}
.main-menu-wrapper ul li a {
    color: #231F20;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
}
.main-menu-wrapper > ul > li > a{
    padding: 16px 0;
}
.main-menu-wrapper > ul > li >.sub-menu {
    position: absolute;
    left: 0;
    top: 56px;
    width: 658px;
    height: 300px;
    /* opacity: 0;
    visibility: hidden; */
    column-count: 2; /* Split into 2 columns */
    column-gap: 96px; /* Adjust gap between columns */
}
.main-menu-wrapper > ul > li >.sub-menu::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.98;
    background: linear-gradient(0deg, #4E4E53 0%, #37373B 100%);
    z-index: -1;
}
.main-menu-wrapper > ul > li > .sub-menu > li {
    display: block;
    margin-bottom: 25px;
}
.main-menu-wrapper ul > li > .sub-menu > li > a{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.main-menu-wrapper > ul > li > .sub-menu > li {
    break-inside: avoid;
}
.main-menu-wrapper > ul > li > .sub-menu li:nth-child(4) {
    break-before: column; 
}
.main-menu-wrapper ul > li > .sub-menu > li > .sub-menu > li > a{
    color: #A5E151;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5; 
}
.main-menu-wrapper > ul > li > .sub-menu li > .sub-menu > li {
    margin-right: 18px;
}
/* ============== header section end ================== */

/* ============== banner area section start ================== */
.banner-area {
    min-height: 1083px;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 65px), calc(100% - 267px) calc(100% - 65px), calc(100% - 361px) 100%, 111px 100%, 18px calc(100% - 65px), 0 calc(100% - 65px));
    background: #94C949;
}
.banner-conent h1{
    font-size: 117.48px;
    line-height: 0.9; 
    letter-spacing: 3.524px;
}
.banner-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 100%);
    mix-blend-mode: multiply;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), calc(100% - 270px) calc(100% - 75px), calc(100% - 364px) calc(100% - 10px), 114px calc(100% - 10px), 21px calc(100% - 75px), 0 calc(100% - 75px));
}
.video-item {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), calc(100% - 270px) calc(100% - 75px), calc(100% - 364px) calc(100% - 10px), 114px calc(100% - 10px), 21px calc(100% - 75px), 0 calc(100% - 75px));
}
.banner-content-info::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #4E4E53 0%, #4E4E53 100%);
    opacity: 0.95;
    z-index: -1;
}
.banner-content-info {
    max-width: 862px;
    padding: 61px 83px 93px 42px;
}
.banner-content-info p{
    color: #fff;
}
/* ============== banner area section end ================== */

/* ============== pneumatic area section end ================== */
.pneumatic-area{
    padding: 146px 0 74px;
}
.pneumatic-area .container {
    max-width: 1494px;
}
.pneumatic-content h3{
    line-height: 1.2;
    color: #4E4E53;
}
.pneumatic-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.pneumatic-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 15.41%, #FFF 100%);
    z-index: 2;
}
.pneumatic-area .row {
    --bs-gutter-x: 0;
}
.pneumatic-area .col:nth-child(2) {
    max-width: 748px;
    flex-basis: 748px;
}
.pneumatic-area .btn-1 {
    margin-top: 26px;
}
.pneumatic-content {
    max-width: 556px;
}
.video-compressor-video-wrapper::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    height: 100%;
    width: 100%;
    background-color: #94C949;
    z-index: -1;
    clip-path: polygon(100% 0, 100% 100%, calc(100% - 121px) 100%, calc(100% - 141px) calc(100% - 20px), 355px calc(100% - 20px), 335px 100%, 0 100%, 0 0);
}
.video-compressor-video {
    width: 100%;
    height: 558px;
    object-fit: cover;
}
.video-compressor-video-wrapper h6 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.28px;
    padding-left: 27px;
}
.video-compressor-video-wrapper .swiper-pagination {
    text-align: right;
}

.video-compressor-video-wrapper .swiper-pagination-bullet {
    background: #242424;
    opacity: 1;
}
.video-compressor-video-wrapper .swiper-pagination-bullet-active {
    background: #FFFFFF;
}




/* ============== pneumatic area section end ================== */